name: Build
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: 'macos-latest'
            buildArch: 'Universal'
            qtVersion: '6.9.3'
          - runner: 'windows-latest'
            buildArch: 'X64'
            qtVersion: '6.9.3'
          - runner: 'windows-11-arm'
            buildArch: 'Arm64'
            qtVersion: '6.9.3'
          - runner: 'ubuntu-22.04'
            buildArch: 'X64'
            qtVersion: '6.9.3'
          - runner: 'ubuntu-24.04-arm'
            buildArch: 'Arm64'
            qtVersion: '6.9.3'
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Qt
        uses: jdpurcell/install-qt-action@v5
        with:
          version: ${{ matrix.qtVersion }}
          arch: ${{ matrix.qtArch }}
          use-naqt: true
          setup-python: false
      - name: Build
        shell: pwsh
        run: ci/build.ps1
        env:
          buildArch: ${{ matrix.buildArch }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v7
        with:
          name: QtHelloWorld-${{ runner.os }}-${{ matrix.buildArch }}-${{ matrix.qtVersion }}
          path: build
